.tile {
  background: -webkit-linear-gradient(45deg, #7d7e7d 0%, #0e0e0e 100%);
  border-radius: 5px;
  width: 10vw;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .tile h3 {
    color: #DFD;
    font-size: 1em;
    margin: 5px 0; }
  .tile .id {
    color: #999;
    font-size: .5em;
    margin: 0; }
  .tile img {
    width: 5vw;
    margin: 0; }
  .tile p {
    color: #DFD;
    font-size: .9em;
    margin: 5px 0; }
  .tile:hover {
    box-shadow: 5px 5px 5px #999;
    transform: translate(-2px, -2px); }
