@import url("https://fonts.googleapis.com/css?family=Lobster");
.section {
  margin-left: 10px;
  width: 70vw;
  display: flex;
  flex-wrap: wrap; }
  .section h2 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin: 10px 0 10px 0;
    width: 100%; }
