nav {
  padding-left: 5px;
  padding-right: 5px;
  background-color: lighten(blanchedalmond, 5);
  width: 129px;
  height: 90vh;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  a {
    text-decoration: none;
    color: orangered;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: whitesmoke;
    font-weight: bold;
    height: 50px;
    box-shadow: 4px 4px 4px #AAA;
    border-radius: 5px;
    margin-top: 3px;
    &:hover {
      background-color: darken(lightyellow, 10);
      transform: scaleX(1.1);
    }
    &.active {
      background: linear-gradient(45deg, #ffc578 0%,#fb9d23 100%);
      color: whitesmoke;
    }
  }
}
